<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BoardMapper">
	<resultMap type="dto.BoardDTO" id="board">
		<id column="bno" property="bno"/>
		<result column="no" property="mno"/>
		<result column="write_date" property="writeDate"/>
		<result column="bcount" property="bcount"/>
		<result column="bhate" property="bhate"/>
		<result column="blike" property="blike"/>
		<result column="board_comment_count" property="ccount"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="nickname" property="nickName"/>
		<result column="write_update_date" property="updateDate"/>
	</resultMap>
	
	<select id="selectBoardList" resultMap="board">
		select * 
		from 
			(select ROW_NUMBER() OVER(ORDER BY b.bno desc) as rw, b.*
				from 
			board_view b) bv
		where 
			ceil(bv.rw/30) = #{page}
	</select>
	<insert id="insertBoard" useGeneratedKeys="true" keyProperty="bno">
		insert into board(title,content,mno)
		values(#{title},#{content},#{mno})
	</insert>
	<insert id="insertBoardFile">
		insert into board_file(bno,fpath)
		values
		<foreach collection="list" item="file" separator=",">
			(#{file.bno},#{file.fpath})
		</foreach>
		
	</insert>
	
	<select id="selectBoardCount" resultType="int">
		select count(*) from board_view
	</select>
	
	<select id="selectBoard" resultMap="board">
		select * from board_view where bno = #{bno}
	</select>
	
	<select id="selectFileList" resultType="dto.BoardFileDTO">
		select * from board_file where bno = #{bno}
	</select>
</mapper>










