<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    이 파일은 웹 애플리케이션의 설정 문서입니다. 
    서버가 켜질 때 이 파일을 읽어서 어떤 서블릿이 있고, 어떤 설정을 따를지 결정합니다.
-->
<web-app
    version="4.0"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
  <display-name>학생 관리 시스템 (MVC 패턴)</display-name>
</web-app>
